.html {
  font-family: "Poppins", Helvetica, sans-serif;
  background-color: #e2e8f0;
}
.header {
  border-radius: 15px;
  background-color: #475569;
  width: 760px;
  margin: 40px auto;
  padding: 20px;
  color: #f1f5f9;
  text-align: center;
}

.title {
  border-radius: 10px;
  font-size: 30px;
  font-weight: 600;
}

.score {
  font-size: 20px;
}

.board {
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  background-color: #475569;
  width: 760px;
  margin: auto;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.tile {
  border-radius: 10px;
  background-color: #94a3b8;
  color: #0f172a;
  width: 75px;
  margin: 10px;
  font-weight: 700;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
